.form-signin .form-control {
  margin: 10px 0px;
}

.btn {
  padding: 5px 30px;
  margin: 0px 3px;
}

.active {
  display: none;
}

@media screen and (max-width: 991px) {
  form {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 575px) {
  nav {
    padding: 10px;
  }
  nav .btn {
    margin: 3px 0px;
  }

  nav strong {
    margin-right: 10px;
  }
}
